
.pagination {
    display: flex;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
    margin-top: 2%;
  }
  
  .pagination a {
    padding: 10px;
    border-radius: 5px;
    color: #6c7ac9;
  }
  
  .pagination__link {
    font-weight: bold;
  }
  
  .pagination__link--active a {
    color: #fff;
    background: #d0d6f5;
  }
  
  .pagination__link--disabled a {
    color: rgb(227, 226, 229);
    
  }
  